/* Curso de css 1/4
游닍 RECURSOS
游 Repositorio de C칩digos en GitHub - https://github.com/jonmircha/youtube-...
游댯 Configuraci칩n de VisualStudio Code:
    俱뫮잺 Art칤culo - https://jonmircha.com/vscode
    俱뫮잺 Video - https://www.youtube.com/watch?v=KpgVF...
    俱뫮잺 Atajos Windows - https://code.visualstudio.com/shortcu...
    俱뫮잺 Atajos Mac - https://code.visualstudio.com/shortcu...
游릭 Emmet.io - https://emmet.io/
游댯 Enlaces de la documentaci칩n de CSS:
  - https://es.wikipedia.org/wiki/Hoja_de...
  - https://www.w3.org/html/logo/
  - https://www.w3.org/standards/webdesig...
  - https://www.w3.org/TR/css-2020/
  - https://developer.mozilla.org/es/docs...
游댯 CSS Reference - https://cssreference.io/
游댯 Can I Use - https://caniuse.com/
游댯 Code Guide - https://codeguide.co/
游댯 Pseudoclases - https://developer.mozilla.org/es/docs...
游댯 Pseudoelementos - https://developer.mozilla.org/es/docs...
游댯 Propiedades hederables - https://web.dev/learn/css/inheritance...
游댯 Reset CSS - https://meyerweb.com/eric/tools/css/r...
游댯 Normalize CSS - https://necolas.github.io/normalize.css/
游댯 Autoprefixer CSS - https://autoprefixer.github.io/
游댯 Modelo de Caja - https://developer.mozilla.org/es/docs...
游댯 Tama침o de Caja Paul Irish - https://www.paulirish.com/2012/box-si...
游댯 960 Grid System - https://960.gs/ */
